<!doctype html>
<head></head>
<html>
<body>
  <div id="pageDiv">

    {# {% include "headerHtml.j2" %} #}
    {% block header %}{% endblock %}

    <div id="mainDiv">
      <section id="contentSection">
        {% block article %}{% endblock %}
      </section>
    </div>
  </div>

  {% include "footerHtml.j2" %}

</body>
</html>





{# --------------------------------------------

  {% import "headerHtml.j2" as header %}
  {{ header }}
  <p>hello {{msg[0]}}</p>
  <p>The weather is {{msg[1]}}</p>
  <p>The mood today is {{msg[2]}}</p>
  <p>User agent is: {{user_agent}}</p>
  <p>Who: {{ dog.name, dog.age, ##dog.location }}</p>
  <p>Today is: {{dog.dayName}}, ##{{dog.now}}</p>
  <p>My calculation: {{dog.mult(2)}}</p>
  {% include 'path_to_template_file' %}

----------------------------------------------- #}