{# Scaffold content here #}
{#-----------------------------------------------
  <style>
    body{
      font-family: "Moderustic", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
    }
  </style>

    <meta name=description content= . F::hent( $c->getConfig(description) ) . />
    <meta name=keywords content= . F::hent( $c->getConfig(keywords) ) . />
    <link rel=stylesheet href=/spub/styles/style.min.css type=text/css />
  <title>{% block title %}{% endblock %}</title>

  <base href="https://station.paperdrift.com" />
  <title>Station Paperdrift{{location_divider}}{{city}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>

  defer vs async

  <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
  styylesheet preloading:
https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel/preload
  <link rel="preload" href="/static/css/style.css" as="style" />
  # AI recommended:
  <link rel="preload" href="/static/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  # the onload="this.onload=null;this.rel='stylesheet' is apparenty js code to switch the rel to styleshee;
  # onload=null prevents loading multiple times;
  # But the traditional way of loading looks the best; doesn't do the crazy erratic displays;
-------------------------------------------------#}

<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=2"/>
  <meta name="keywords" content="world, travel, leisure, weather" />
  <title>{{title}}</title>

  <link rel="shortcut icon" href="/static/img/favicon.png"/>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">

  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script defer src="/static/js/script.js"></script>


</head>

<html lang="en">
<body>
    <div id="pageDiv">
        <div class="flexBox">
            <div class="flexCol_L"></div>

            <div class="flexCol_C">
                {% block header %}{% endblock %}
                <div id="mainDiv">
                    <section id="contentSection">

                        {% block article %}{% endblock %}

                    </section>
                </div>
                {% block footer %}{% endblock %}

            </div>
            <div class="flexCol_R"></div>
        </div>
    </div>
</body>
</html>





{# --------------------------------

  {% import "headerHtml.jinja" as header %}
  {{ header }}
  <p>hello {{msg[0]}}</p>
  <p>The weather is {{msg[1]}}</p>
  <p>The mood today is {{msg[2]}}</p>
  <p>User agent is: {{user_agent}}</p>
  <p>Who: {{ dog.name, dog.age, ##dog.location }}</p>
  <p>Today is: {{dog.dayName}}, ##{{dog.now}}</p>
  <p>My calculation: {{dog.mult(2)}}</p>
  {% include 'path_to_template_file' %}

--------------------------------- #}