{#
  <label for="fname">First name:</label>
  <input type="submit" id="submit_btn" value="Go">

  <style>

  </style>
  🤬🌏🚀

#}

<footer>

  <input tabindex="0" type="text" id="destination_input" name="destination" placeholder="Destination City">
  <button id="submit_btn" title="GO"> 🚀 </button>

</footer>




