{#
  <label for="fname">First name:</label>
  <input type="submit" id="submit_btn" value="Go">


#}

<footer>

  <input type="text" id="destination_input" name="destination">
  <button id="submit_btn">Go</button>

</footer>


