<header>
  <a tabindex="-1" href="{{baseUrl}}">
  <div id="titlebox">
    <span>

        <img src="/static/img/favicon.png"></span>
    <h3>
          Station Paperdrift
    </h3>

  </div>
  </a>
</header>


