<header>
    <div id="titlebox">
      <div id="beam"></div>
      <a tabindex="-1" href="{{baseUrl}}">
        <span id="site_icon">
          <img src="/static/img/favicon.png">
        </span>
        <h1 id="site_title">
          Station Paperdrift
        </h1>

      </a>
    </div>

</header>


