<header>
  <div id="titlebox">
    <span><img src="/static/img/favicon.png"></span>
    <h3>
        <a tabindex="-1" href="{{baseUrl}}">
          Station Paperdrift
        </a>
    </h3>

  </div>
</header>


