{# ------------------------------------------------------
  {% extends "baseHtml.jinja" %}

  {% block header %}
  {{ header }}
  {% endblock %}

  {% block article %}


  {% block misc %}
    {% for row in db %}
        <span>{{  loop.index }} </span>
        {% for field in row %}
            <span>{{ field }} </span>
        {% endfor %}
        <br />
    {% endfor %}
  {% endblock %}

  {{ db_result }}
  {% for row in db_result %}
      <span>{{  loop.index }} </span>
      {% for field in row %}
          <span>{{ field }} </span>
      {% endfor %}
      <br />
  {% endfor %}

  {% endblock %}
  <p>hello {{msg[0]}}</p>
  <p>The weather is {{msg[1]}}</p>
  <p>The mood today is {{msg[2]}}</p>
  <p>User agent is: {{user_agent}}</p>
  <p>Who: {{ dog.name, dog.age, ##dog.location }}</p>
  <p>Today is: {{dog.dayName}}, ##{{dog.now}}</p>
  <p>My calculation: {{dog.mult(2)}}</p>
-------------------------------------------------------- #}


<article>
    <h3>Welcome to Paperdrift.</h3>
    <h4>Population: {{population}} est.</h4>
    <h4>Moon Phase: {{moon_phase[1]}} {{ moon_phase[0]}} </h4>

    <section>
      <p><a href="/chihuahua/">Yapping Chihuahua</a></p>
      <p><a href="/anchorage/">Sled to Anchorage</a></p>
      <p><a href="/chicago/">Trading Chicago</a></p>
      <p><a href="/atlantic City/">Roll to Atlantic City</a></p>
      <p><a href="/phoenix/">Soar to Phoenix</a></p>
      <p><a href="/bangkok/">Sawadee Bangkok</a></p>
      <p><a href="/mumbai/">Flying Mumbai</a></p>
      <p><a href="/the hague/">Charge to The Hague</a></p>
      <p><a href="/samarkand/">Ride to Samarkand</a></p>
      <p><a href="/goleta/">Surf to Goleta</a></p>
      <p><a href="/topeka/">Twisting Topeka</a></p>
      <p><a href="/hanoi/">Helicopter to Hanoi</a></p>
      <p><a href="/cairo/">Reef to Cairo</a></p>
      <p><a href="/barcelona/">Flamingo to Barcelona</a></p>
      <p><a href="/casablanca/">Round up Casablanca</a></p>
      <p><a href="/shanghai/">Abscond to Shanghai</a></p>
    </section>

</article>

<div id="db_result">
  <span><b>BREAKING NEWS : </b></span>
  <span>{{ db_result[1] }}</span>
  <span>{{ db_result[2] }}</span>
</div>

