{% extends "baseHtml.j2" %}

{% block header %}
{{ header }}
{% endblock %}

{% block article %}
<article>
    <h3>Welcome to Paperdrift.</h3>
    <h4>Population: {{population}} est.</h4>
    <p><a href="/Sleepy City">Yawn to Sleepy City</a></p>
    <p><a href="/Anchorage">Sled to Anchorage</a></p>
    <p><a href="/Phoenix">Fly to Phoenix</a></p>
    <p><a href="/Goleta">Surf to Goleta</a></p>
</article>
{% endblock %}



{# ------------------------------------------------------
  <p>hello {{msg[0]}}</p>
  <p>The weather is {{msg[1]}}</p>
  <p>The mood today is {{msg[2]}}</p>
  <p>User agent is: {{user_agent}}</p>
  <p>Who: {{ dog.name, dog.age, ##dog.location }}</p>
  <p>Today is: {{dog.dayName}}, ##{{dog.now}}</p>
  <p>My calculation: {{dog.mult(2)}}</p>
-------------------------------------------------------- #}
