{#---------------------------------------------------
  <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
  <p>Rewind to <a href="/">Paperdrift.</a></p>
  <p>hello {{msg[0]}}</p>
  <p>The weather is {{msg[1]}}</p>
  <p>The mood today is {{msg[2]}}</p>
  <p>User agent is: {{user_agent}}</p>
  <p>Who: {{ dog.name, dog.age, ##dog.location }}</p>
  <p>Today is: {{dog.dayName}}, ##{{dog.now}}</p>
  <p>My calculation: {{dog.mult(2)}}</p>

    <h4>Moon Phase: {{moon_phase[1]}} {{moon_phase[0]}}</h4>


  ---------------------------------------------------#}

<article>
    <h3>Welcome to the {{adj}} {{pronoun}} of {{city}}.</h3>
    <h4>Population: {{population}} est.</h4>
    <h4>Country: {{country}}</h4>
    <h4>Local Time: {{local_datetime}}</h4>
    <h4>{{city}} is {{famousSyn}} for its {{famousFor}}.</h4>

    {% include 'weatherHtml.jinja' %}


    <div id="location_box">
        <img id="location_img" src="{{location_info["imageUrl"]}}">

        <div id="location_description_box">
            <a id="location_title_link" href="{{location_info["url"]}}" tabindex=-1 target=_blank><span>About </span><span id="location_box_city">{{city}}</span></a>
            <p id="location_description"><span>{{ location_info["description"] }}</span><span><a href="{{location_info["url"]}}" target=_blank tabindex=-1>READ</a></span></p>
        </div>

    </div>


</article>
