{#
  <button id="submit_btn" title="GO"> 🚀 </button>

#}
<div id="searchBox">

  <input tabindex="0" type="text" id="destination_input" name="destination" placeholder="Destination City">
  <button id="submit_btn" title="GO"> ⚙ </button>

</div>