/* html, body {
    height:100%;
} */
body{
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /*   border: 1px solid; */
  margin: 0;

}

/* header h3 a{ */
a,
a:visited{
  text-decoration: none;
  color: #000000;
}


/*---------------------------------------------*/


#pageDiv{
  margin: 10px;
  margin-top: 0;
  /* width: 520px; */
  /*   max-width: 520px; */
/*   border: 1px solid #D9AB73; */
}

/*---------------------------------------------*/


header{
  margin: 0;
  /*   border: 1px solid; */
}

header h3{
  background-color: #D5883B;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: fit-content;
  border:1px solid #BF6B17;
}

/*---------------------------------------------*/

/*
#mainDiv{}

#contentSection{}

*/


/*---------------------------------------------*/


.flexBox {
    /* container for flex columns */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    overflow:hidden;
    width:100%;
/*     border: 1px solid #C31313; */
}

  .flexCol_L, .flexCol_R, .flexCol_C{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis:50px;
      /* sets the initial main size of a flex item */
      flex-basis:5px;
      /* sets the initial main size of a flex item */

/*       border: 1px solid #C31313; */
  }

  .flexCol_C {
      flex-grow: 2;
      flex-grow: 4;
      flex-grow: 3.5;
      flex-basis:400px;
      flex-basis:300px;
      overflow:hidden;
      min-width:200px;
      max-width: 800px;

/*       border: 1px solid #C31313; */
  }



/*---------------------------------------------*/


article {
  border: 0px solid;
  max-width: inherit;
  overflow: hidden;
  border-top:  1px solid #9A9A9A;
  border-bottom:  1px solid #9A9A9A;

  padding-top: 10px;
/*   padding-bottom: 15px; */

}
article h3, h4 {
  margin: 5px 5px 5px 0;
}

article h4:nth-child(5) {
  color:#833232;
}



/*---------------------------------------------*/


#weather_section{
  overflow: hidden;
  /*
  margin-top: 10px;
  padding-top: 10px; */
  padding-left: 10px;

}

#weather_section h4#weather_moonphase{
  color: #404040;
  margin:  15px 0px 15px -5px;

}

#weather_section #weather_imageBox{
  float: left;
  margin-right: 40px;
  border: 0px solid #ED1616;
  overflow: hidden;
/*   width: 300px; */

}
#weather_section #weather_imageBox #weather_img{
  float: left;
  margin-right: 10px;
  /* width: 64px;
  height:  64px; */
}
#weather_section #weather_imageBox #weather_text{
  float: left;
  color: #5E5B5B;
  font-weight: 700;
  max-width: 100px;
  height: 64px;
  display: grid;
  align-items: center;
  /*  grid, align-items seems to finally  vertically center  */
  text-align: center;
}

#weather_section #weather_imageBox #humidity_text{
  float: left;
  font-size: 15px;
  color: #43587E;
  font-weight: 800;
  clear: left;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#weather_section #weather_infoBox{
  float: left;
  margin-left: 5px;

}
#weather_section #weather_infoBox p{
  float: left;
  clear: both;
  font-size: 16px;
  color: #5A5A5A;
  margin: 2px;
  font-weight: 600;
}
#weather_section #weather_infoBox p:first-child{
  color: #444444;
}


#weather_section #weatherapilink a,
#weather_section #weatherapilink{
  float: right;
  font-size: .5em;
  color: #928771;
  clear: both;
}


/*---------------------------------------------*/

#location_box{
  border-top:  1px solid #9A9A9A;
  overflow: hidden;
  padding-top: 15px;

}
#location_box img{
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 7px;
  border: 1px solid #989898;
}
#location_box #location_description_box{

}
#location_box #location_description_box a#location_title{
  font-weight: 700;
  font-size: 1.15em;
  clear: both;
  color: #2F2F2F;
}
#location_box #location_description_box p#location_description{
}
#location_box #location_description_box p span{
  font-size: .4em;
  border: 1px solid #696969;
  border-radius: 7px;
  padding: 0 4px 0 4px;
  margin-left: 3px;
}




/*---------------------------------------------*/



#destinations{
  border-top:  1px solid #9A9A9A;
  border-bottom:  1px solid #9A9A9A;
  overflow: hidden;
  margin-top: 0px;
  padding-bottom: 15px;
  padding: 15px 0 30px 0;

}
#destinations h4{
  margin-top: 10px;
/*   margin-bottom: -5px; */
/*   border: 1px solid #000; */

}
#destinations p{
  width: fit-content;
  margin-bottom: 0;

  margin-top: 15px;
  margin-right: 10px;
  border: 1px solid #CEC2CE;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  float: left;
}

#destinations p:hover{
  background-color:#E7E6E7;

}


/*---------------------------------------------*/


#news_result{
  margin-top: 10px;
  /* margin-bottom: 15px; */
  font-size: 16px;
  padding: 5px 0 10px 10px;
  /* height: 70px; */
  /* border: 1px solid #000; */
  overflow: hidden;
}

#news_result span{
  line-height: 1.5rem;
  float: left;
  clear: both;
}
#news_result span:nth-child(2){
  float: none;
}
#news_result span:first-child{
  background-color: #F3EDC9;
  float: none;
  margin-left: -10px;
  margin-right: 10px;
}

#news_result span.news_hide{
  display: none;
}

/* #news_result #more_btn_box{} */
#news_result #more_btn{
  color: #FFE228;
  display: block;
  clear: both;
  float: right;
  margin-right: 15px;
  /* margin-bottom: 6px; */
  font-size: .70em;
  cursor: pointer;
  border: 1px solid #362D0A;
  background-color: #3B3F60;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  /* position: relative; top: 3px; */

}


/*---------------------------------------------*/



footer{
    margin-top: 15px;
    padding: 3px;

}

footer #destination_input,
footer #submit_btn{
    border: 1px solid #828282;
    font-size: 16px;
    background-color:#CBDBE3;
    padding: 5px;
    font-family: inherit;
    /* On chrome, doesn't seem to take on parent font */


}

footer #destination_input {
    width: 200px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 5px 0 0px 5px;
    border-style: solid;
    /* box-shadow: 2px 2px 2px#536C59; */
}

footer #destination_input:focus {
    background-color:#FFF;


}

footer #submit_btn{
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 5px 5px 0;
    position: relative; left: -2px;
    padding-left: 8px;
    padding-right: 8px;

}

footer #submit_btn:hover{
  cursor: pointer;
    background-color:#B2C5CF;

}



