body{
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /*   border: 1px solid; */
  margin: 0;

}

#pageDiv{
  margin: 10px;
  margin-top: 0;
/*   width: 520px; */
  max-width: 520px;
/*   border: 1px solid #D43F3F;  */
}

header{
  margin: 0;
  /*   border: 1px solid; */
}

header h3{
  background-color: #D5883B;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: fit-content;
  border:1px solid #BF6B17;
}

/* header h3 a{ */
a,
a:visited{
  text-decoration: none;
  color: #000000;
}

article {
  border: 0px solid;
  max-width: inherit;
  overflow: hidden;
  border-top:  1px solid #9A9A9A;
  border-bottom:  1px solid #9A9A9A;

  padding-top: 10px;
/*   padding-bottom: 20px; */

}
article h3 {
  margin: 2px;
}

article h4 {
  margin: 2px;
}
article h4:nth-child(3) {
  color:#833232;
}

article section{
  border-top:  1px solid #9A9A9A;
  border-bottom:  1px solid #9A9A9A;
  overflow: hidden;
  margin-top: 15px;

  padding-bottom: 15px;

}
article section h4{
  margin-top: 10px;
  margin-bottom: -5px;
/*   border: 1px solid #000; */

}
article section p{
  width: fit-content;
  margin-bottom: 0;

  margin-top: 15px;
  margin-right: 10px;
  border: 1px solid #CEC2CE;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  float: left;
}

article p:hover{
  background-color:#E7E6E7;

}

#news_result{
  margin-top: 10px;
/*   margin-bottom: 15px; */
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 70px;
  overflow: hidden;
  background-color: #FFFEC7;
}

#news_result span{
   line-height: 1.5rem;
   float: left;

   /*
   background-color: #F7F7F7;
   border: 1px solid #B34848;
   margin-bottom: 5px;
   display: inline-block;
   float: left;
   */
}
#news_result span:nth-child(2){
   float: none;
}
#news_result span:first-child{
   background-color: #F3EDC9;
   float: none;
   margin-left: -10px;
   margin-right: 10px;
}

/*
  #news_result div{
  margin-left: -15px;
  margin-left: 10px;
  background-color: #F3EDC9;
  margin-bottom: 5px;
  overflow: hidden;
  border: 1px solid #000;
  display: inline-block;
}

#news_result div:first-child{
  color: #464646;
  position: relative;
  margin-left: -10px;
  background-color: #FFF;
  display: inline;
  overflow: visible;
}

#news_result div:nth-child(2){
  clear: none;
  float: left;
  margin: 0;
}
 */

footer{
  margin-top: 15px;

}

#destination_input,
#submit_btn{
    border: 1px solid #828282;
    font-size: 16px;
    background-color:#CBDBE3;
    padding: 5px;


}

#destination_input {
    width: 200px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 5px 0 0px 5px;
}

#destination_input:focus {
    background-color:#FFF;
}

#submit_btn{
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 5px 5px 0;
    position: relative; left: -2px;
    padding-left: 8px;
    padding-right: 8px;

}

#submit_btn:hover{
  cursor: pointer;
}
