/* :root, html, body {
    height:100%;
} */

html, body {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

body{

  /*
  this achievs putting footer at bottom without always
  pushing it out of site; also have to set footer margin-top auto
  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --titleColor: #D5883B;
  --borderColor: #9A9A9A;
  --borderColor: #C8C3C3;

  /*

  background-image: url("/static/img/station_3951296-1.png");
  background-repeat:no-repeat;
  opacity: 1;
  background-size: cover;
  */
  /*auto|length|cover|contain|initial|inherit; */

}


#pageDiv {
  /*
    Can also achieve footer at bottom this way;
    But there will always be a scrollbar and footer
    will always be hidden from initial view
    height: 100vh;
    min-height:100%;
  min-height: 100vh;

  background-color: #FFF;
  opacity: .95;
  */
}

a,
a:visited{
  text-decoration: none;
  color: #000000;

}



/*---------------------------------------------*/

@keyframes beam_move {
  0% {
    left: 2px;
  }
  100% {
    /*left: 39px;*/
    left: 41px;
  }

}



header{
  margin: 0;
  padding: 15px 0 15px 0;
  overflow: hidden;
  border-bottom: 0px solid var(--borderColor);


  #titlebox{

    margin-left: auto;
    margin-right: auto;
    border:3px solid var(--titleColor);
    border-left: 8px dashed var(--titleColor);
    border-right: 8px dashed var(--titleColor);
    /*border-radius: 0 4px 4px 0;*/

    overflow: hidden;
    width: fit-content;
    height: 40px;

    #beam{
      width: 1px;
      height: 100%;
      background-color: #8D561E;
      background-color: #646161;
      opacity: .8;
      float: left;
      position: relative;
      /*animation: beam_move 2s infinite; */
      /*animation-delay: 1s;*/
      animation-name: beam_move;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-iteration-count: infinite;

    }

    a {
      span#site_icon {
        float: left;
      /*       padding: 7px; */
        padding: 5px 8px 0 5px;

        img{
          /*width: 27px;
          height:27px;*/

          width: 30px;
          height:30px;
        }
      }

      h1#site_title {
        font-size: 1.3em;
        background-color: var(--titleColor);
        padding: 5px 16px 10px 12px;

        width: fit-content;
        float: left;
        margin: 0;
      }
    }
  }

}


/*---------------------------------------------*/

/*
#mainDiv{}

#contentSection{}

*/


/*---------------------------------------------*/


.flexBox {
    /* container for flex columns */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    overflow:hidden;
    width:100%;

/*     border: 1px solid #C31313; */
}

  .flexCol_L, .flexCol_R, .flexCol_C{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis:50px;
      /* sets the initial main size of a flex item */
      flex-basis:5px;
      /* sets the initial main size of a flex item */

/*       border: 1px solid #C31313; */
  }

  .flexCol_C {
      flex-grow: 2;
      flex-grow: 4;
      flex-grow: 3.5;
      flex-basis:400px;
      flex-basis:300px;
      overflow:hidden;
      min-width:200px;
      max-width: 800px;

/*       border: 1px solid #C31313; */
  }



/*---------------------------------------------*/


article {
  border: 0px solid;
  max-width: inherit;
  overflow: hidden;
  /*
  border-top: 1px solid var(--borderColor);
  border-bottom:  1px solid #9A9A9A;

  */
  padding-top: 10px;

  h3, h4 {
    margin: 5px 5px 5px 0;
  }

  h4:nth-child(5) {
    color:#833232;
  }

}


/*---------------------------------------------*/


#weather_section{
  overflow: hidden;
  /*
  margin-top: 10px;
  padding-top: 10px; */
  padding-left: 10px;
  border-bottom: 1px solid var(--borderColor);

}

#weather_section h4#weather_moonphase{
  color: #404040;
  margin:  15px 0px 15px -5px;

}

#weather_section #weather_imageBox{
  float: left;
  margin-right: 40px;
  border: 0px solid #ED1616;
  overflow: hidden;
/*   width: 300px; */

}
#weather_section #weather_imageBox #weather_img{
  float: left;
  margin-right: 10px;
  /* width: 64px;
  height:  64px; */
}
#weather_section #weather_imageBox #weather_text{
  float: left;
  color: #5E5B5B;
  font-weight: 700;
  max-width: 100px;
  display: grid;
  align-items: center;
  min-height: 64px;
  /*
  border: 1px solid;
  overflow: hidden;
  grid, align-items seems to finally  vertically center  */
  text-align: center;

}

#weather_section #weather_imageBox #humidity_text{
  float: left;
  font-size: 15px;
  color: #43587E;
  font-weight: 800;
  clear: left;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#weather_section #weather_infoBox{
  float: left;
  margin-left: 5px;

}
#weather_section #weather_infoBox p{
  float: left;
  clear: both;
  font-size: 16px;
  color: #5A5A5A;
  margin: 2px;
  font-weight: 600;
}
#weather_section #weather_infoBox p:first-child{
  color: #444444;
}


#weather_section #weatherapilink a,
#weather_section #weatherapilink{
  float: right;
  font-size: .5em;
  color: #928771;
  clear: both;
}


/*---------------------------------------------*/

#location_box{
  border-bottom:  1px solid var(--borderColor);
  overflow: hidden;
  padding: 25px 0 10px 0;
  display: none;

  img#location_img{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 1px solid #989898;
  }

  #location_description_box {

    a#location_title_link{
      font-weight: 700;
      font-size: 1.15em;
      clear: both;
      color: #2F2F2F;
    }
    /*
    a#location_box_city{}
    */

    p#location_description {
      span:first-child{}
      span:nth-child(2) a{
        font-size: .4em;
        border: 1px solid #696969;
        border-radius: 7px;
        padding: 0 4px 0 4px;
        margin-left: 3px;
      }
    }
  }
}


/*---------------------------------------------*/



#destinations{
  border-bottom:  1px solid var(--borderColor);
  overflow: hidden;
  margin-top: 0px;
  padding-bottom: 15px;
  padding: 15px 0 30px 0;

}
#destinations h4{
  margin-top: 10px;
/*   margin-bottom: -5px; */
/*   border: 1px solid #000; */

}
#destinations p{
  width: fit-content;
  margin-bottom: 0;

  margin-top: 15px;
  margin-right: 10px;
  border: 1px solid #CEC2CE;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  float: left;
}

#destinations p:hover{
  background-color:#E7E6E7;

}



/*---------------------------------------------*/


#news_result_box{
  margin-top: 10px;
  /* margin-bottom: 15px; */
  font-size: 16px;
  padding: 5px 0 15px 10px;
  /* height: 70px; */
  /* border: 1px solid #000; */
  overflow: hidden;
  display: none;
  border-bottom: 1px solid var(--borderColor);

  span{
    line-height: 1.5rem;
    float: left;
    clear: both;
  }

  #news_headline_title{
    background-color: #F3EDC9;
    float: none;
    margin-left: -10px;
    margin-right: 10px;
  }

  span.news_first {
    float: none;
    clear: right;
  }

  span.news_hide{
    display: none;
  }

  span a:hover{
    border-bottom: 1px solid #D1B561;
  }


  #more_btn_box #more_btn{
    display: block;
    clear: both;
    float: right;
    margin: 5px 15px 0 0;
    /*
    color: #FFE228;
    margin-bottom: 6px;
    background-color: #3B3F60;
    */
    font-size: .70em;
    cursor: pointer;
    border: 1px solid #362D0A;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    /* position: relative; top: 3px; */

  }

}



/*---------------------------------------------*/


#searchBox{

  padding: 3px;
  margin: 20px 0 20px 0;

  /* overflow: hidden;
  float: left;
  clear: none;
  margin-top: 5px; */

  #destination_input,
  #submit_btn{
    border: 1px solid #828282;
    font-size: 16px;
    background-color:#CBDBE3;
    background-color:#9CB1BA;
    background-color:#CEDAE2;
    padding: 5px;

    font-family: inherit;
    /*
    On chrome, doesn't seem to take on parent font
    */
  }

  #destination_input {
    width: 200px;
    border-radius: 5px 0 0px 5px;
    border-style: solid;
    /* top-left | top-right | bottom-right | bottom-left
    box-shadow: 2px 2px 2px#536C59;
    &:is(:hover, :focus-visible)
    */
    &:hover {
      background-color:#B2C5CF;

    }

    &:focus {
      background-color:#FFF;
    }
  }


  #submit_btn{
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 5px 5px 0;
    position: relative; left: -2px;
    padding-left: 8px;
    padding-right: 8px;
    /*     margin-left: 4px; */

    &:hover{
      cursor: pointer;
      background-color:#B2C5CF;

    }
  }


}


/*---------------------------------------------*/

@keyframes footer_logo {
  0% {
    border-bottom: 2px solid #DCDCDC;
    font-weight: 400;
  }
  100% {
    border-bottom: 3px solid #C52929;
    font-weight: 500;
  }

}

footer{
  margin: auto 0 0 0;
  /* margin-top:auto along with body grid
  seems to keep footer at bottom*/
  background-color: #444444;
  height: 50px;
  /* display: grid; */
  display: flex;
  flex-direction: row;

  /* Using Flex, can use these settings to center vertically and horizontally */
  align-items: center;     /* vertical center items */
  justify-content: center; /* horizontal center items */

  p {
    /*text-align: center;*/
    /*
    // use this with flex
    margin-left: auto;
    margin-right: auto;
    */
    /* margin: 12px 0 0 0; */
  }

  a, a:visited {
    color: #DCDCDC;
    font-weight: 500;
    font-size: 1.1em;
    &:hover {
      animation-name: footer_logo;
      animation-duration: 1.3s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-iteration-count: infinite;
    }
  }
}



